.header {
  display: flex;
  flex-direction: row;
  /* border: 2px solid black; */
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}
.h1 {
  display: flex;
  margin: 20px;
}
.h1:hover {
  color: #fccc14;
  cursor: pointer;
}
.h2:hover {
  color: #fccc14 !important;
  cursor: pointer;
}
